* {
    box-sizing: border-box;

}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}

.header-title {
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
}

.dmark {
    background-color: black;
    color: white;
    padding: 0 0.5rem;
}

main {
    display: flex;
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto 3rem auto;
}

.posts {
    flex: 2;
    margin-left: 1rem;
}

.sidebar {
    flex: 1;
}


footer {
    background-color: #616161;
    color: white;
    padding: 1.5rem 1rem 2.5rem 1rem;
}

.pagination {
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    background-color: black;
    padding: 0.75rem 1.5rem;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #ccc;
    color: black;
}

.btn.disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.post {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post-image {
    width: 100%;
}

.post-body {
    padding: 1rem;
}

.post-title {
    margin: 0 0 0.5rem 0;
}

.post-desc {
    font-size: 1.2em;
}

.post-date {
    color: gray;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-more {
    border: 1px solid #ccc;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.post-comments {
    font-weight: 500;
    margin-right: 1rem;
}

.post-comment-count {
    margin-left: 0.4rem;
    
}

.read-more:hover {
    background-color: #ccc;
}

.post:hover {
    transform: scale(1.06, 1.06);
}


.post2-image {
    width: 100%;
}

.post2 {
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post2-body {
    padding: 1rem;
}

.post2-title {
    margin: 0 0 0.5rem 0;
}

.post2-desc {
    font-size: 1.2em;
}

.post2-date {
    color: gray;
}

.post2-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post2-comments {
    font-weight: 500;
    margin-right: 1rem;
}

.post2-comment-count {
    margin-left: 0.4rem;
}

.post2:hover {
    transform: scale(1.06, 1.06);
}

.sidebars {
    flex: 1;
    margin-right: 1rem;
}

.sidebar {
    margin-left: 1.3rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebar-body {
    padding: 1rem;
}

.sidebar-image {
    width: 100%;
    display: block;
}

.pop-post-body {
    margin-left: 1.3rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pop-post-row {
    display: flex;             
    align-items: flex-start;   
    padding: 1rem;  
    border: 1px solid #ddd;           
}

.pop-post-img {
    width: 75px;
    height: 75px;
    margin-right: 1rem;        
}

.pop-post-info {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.titles {
    font-weight: 500;
    padding: 1.5rem 1rem;
    background-color: lightgray;
    margin-bottom: 0;
}

.pop-post-info, p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}

.pop-post-row:hover {
    transform: scale(1.07, 1.07);
    border: 0;
    background-color: white;
}

.tags-body {
    margin-left: 1.3rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.gmark { 
    background-color: lightgray;
    color: white;
    padding: 0 0.5rem;
}

@media  screen and (max-width:991px) {
    main {
        flex-direction: column;
    }

    .pop-post-row:nth-child(4) {
        display: none;
    }
    
}

